<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=11; IE=Edge;"/>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/common.css" />
<link rel="stylesheet" href="/javascripts/jquery-ui.1.10.4.css" />
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="/javascripts/jquery-form.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.1.10.4.js"></script>	

<script type="text/javascript">
	/*
	함수 정리
	
		createList() : form에 입력한 데이터를 asp에 보내서 json 을 받아와서 리스트로 나열

		splitList() : 리스트들을 urlList, filePathList로 나눠 놓음 

		createFile() : 리스트로 파일 생성

		zipCreate() : 압축파일 생성

		validation() : form 입력값 체크

		progress() : 프로그레스 바 동작

		fileDown() : 파일 다운로드
		
	*/
	
	var index = 0;
	

	$(document).ready(function() {
	
		$('select[name=type]').val("<%= type %>").prop("selected", true);
		$('select[name=fileType]').val("<%= fileType %>").prop("selected", true);
		$('select[name=request_step_condition]').val("<%= request_step_condition %>").prop("selected", true);
		$('select[name=snum]').val("<%= snum %>").prop("selected", true);
		
		$('#downBtn').css("display","none");
		
		
	});
	
	function fileDown(){
		$('[name=down_recruit_name]').val($('[name=recruit_name]').val());
		$('#download').submit();	
	}
	
	function createList(){
		
		if(validation()){
			
			$('#createBtn').css("display","none");
			
			$.ajax({
			    type : 'POST',
			    url : '/create',
			    data : $('[name=downform]').serialize(),
			    error : function(error) {
			        alert("List Create Error!");
			    },
			    success : function(data) {
			    	splitList(data);
			    },
			    complete : function() {
			        //$('#downBtn').css("display","");   
			    }
			});
			
		}
		
		
	}
	
	function createFile(urlList, fileList){
		var count;
		$.ajax({
		    type : 'POST',
		    url : '/createFile',
		    data : {"urlList" : urlList[index], "fileList" : fileList[index]},
		    error : function(error) {
		        alert("File Create Error!");
		    },
		    success : function(data) {
		    	//$('#resultArea').append(data);
		    	$('#resultArea').append("<li><a href=" + data + " target='_blank'>"+data+"</a></li>");
				$('#resultArea').scrollTop($('#resultArea').prop('scrollHeight'));

		    	if(index == 0){
		    		$('#resultArea>li:first>a').get(0).click();

		    	}
		    },
		    complete : function() {
		    	index++;
		    	
				count = index/urlList.length*100;
				progress(count);
				
            	
		    	if (index < urlList.length ){	
		    		createFile(urlList, fileList);
		    	}else {
		    		index = 0;
		    		$('#resultArea').append("---------------------------------------------------END---------------------------------------------------<br/>");
					$('#resultArea').scrollTop($('#resultArea').prop('scrollHeight'));
		    		//$('#downBtn').css("display","");
		    		zipCreate();
		    	}
		    	
		    	
		    }
		});
	}
	function zipCreate(){
		
		$('#resultArea').append("--------------------------------------------압축파일 생성 중----------------------------------------------<br/>");
		$('#resultArea').scrollTop($('#resultArea').prop('scrollHeight'));
		$.ajax({
		    type : 'POST',
		    url : '/zipCreate',
		    data : $('[name=downform]').serialize(),
		    error : function(error) {
		        alert("Zip Create Error!");
		    },
		    success : function(data) {
		    	$('#resultArea').append("--------------------------------------------압축파일 생성완료--------------------------------------------<br/>");
				$('#resultArea').scrollTop($('#resultArea').prop('scrollHeight'));
		    	$('#createListArea').val('');
		    },
		    complete : function() {
				
		    	$('#downBtn').css("display","");
		    }
		});

	}
	function splitList(data){
		var urlList = data.match(/(http.+)/g),
			fileList = data.match(/(download.+)/g);

		    $('#createListArea').append(fileList.join("\n"));
		    $('#resultArea').append("--------------------------------------------------START--------------------------------------------------<br/>");
		    createFile(urlList, fileList);
	}
	
	function validation(){
		if (!$("[name='type']").val()) return $("[name='type']").focus(), alert("파일 양식을 선택해 주세요."), false;
		if (!$("[name='recruit_name']").val()) return $("[name='recruit_name']").focus(), alert("업체 영문명을 입력해 주세요."), false;
		if (!$("[name='recruit_num']").val()) return $("[name='recruit_num']").focus(), alert("공고번호를 입력해 주세요."), false;
		if (!$("[name='limit_total']").val()) return $("[name='limit_total']").focus(), alert("파일 개수를 입력해 주세요."), false;
		if (!$("[name='filePwd']").val()) return $("[name='filePwd']").focus(), alert("압축 패스워드를 입력해 주세요."), false;
		
		return true;
	}
	  
	
	function progress(count){
		$(".progress").css( "width",count+"%");
		$(".countup").html(Math.round(count)+"%"); 
		if(count == 100){
			$("#downBtn").addClass('selected');	
		}
	}


</script>


	</head>
	<body>
		<div class="wrap_popup">
			<h1>MHT, PDF 다운로드</h1>
			<div class="download_option">
				<h2>다운로드 옵션</h2>
				<form name="downform" action="/create" method="post">
					<fieldset>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_option">
							<colgroup>
								<col width="20%" />
								<col width="30%" />
								<col width="20%" />
								<col width="30%" />
							</colgroup>
							<tbody>
								<tr>
									<th width="120px">파일 양식</th>
									<td>
										<select name="type">
											<option value="resume" selected="selected">이력서</option>
											<option value="apply_print">수험표</option>
											<option value="exam_card">제작수험표</option>
										</select>
									</td>
									<th>전형상태</th>
									<td>
										<select name="request_step_condition">
											<option value="" selected="selected">전체</option>
											<option value="1">서류전형</option>
											<option value="2">필기시험</option>
											<option value="4">1차면접</option>
											<option value="5">2차면접</option>
											<option value="7">최종합격</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>파일 종류</th>
									<td>
										<select name="fileType">
											<option value="mht" selected="selected">MHT</option>
											<option value="pdf">PDF</option>
										</select>
									</td>
									<th>수험번호 여부</th>
									<td>
										<select name="snum">
											<option value="" selected="selected">N</option>
											<option value="Y">Y</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>업체 영문명</th>
									<td><input type="text" name="recruit_name" placeholder="ex) lh" value="<%= recruit_name %>" /></td>
									<th>파일 개수</th>
									<td><input type="text" name="limit_total" placeholder="ex) 160" value="<%= limit_total %>" /></td>
								</tr>
								<tr>
									<th>공고번호</th>
									<td><input type="text" name="recruit_num" placeholder="ex) 899" value="<%= recruit_num %>" /></td>
									<th>압축 패스워드</th>
									<td><input type="text" name="filePwd" placeholder="ex) qwert12345" value="<%= filePwd %>" /></td>
								</tr>
								<tr>
									<th>서버</th>
									<td>
										<select name="server">
											<option value="1">개발</option>
											<option value="2" selected="selected">상용</option>
										</select>
									</td>
									<th>폴더구조</th>
									<td>
										<input type="checkbox" name="folderGubun" value="field1"> 구분1<br />
										<input type="checkbox" name="folderGubun" value="field2"> 구분2<br />
										<input type="checkbox" name="folderGubun" value="field3"> 구분3<br />
										<input type="checkbox" name="folderGubun" value="field4"> 구분4<br />
										<input type="checkbox" name="folderGubun" value="personal"> 개인별
									</td>
								</tr>
							</tbody>
						</table>
						
					</fieldset>
				</form>
				
				
			</div>
			<div class="btn_area">
					<input type="button" alt="파일생성" value="파일생성" class="btn_file_crt" id="createBtn" onclick="createList();" />
					<!-- <input type="button" alt="압축" value="압축" class="btn_file_crt" id="createZipBtn" onclick="zipCreate();" /> -->
					<input type="button" alt="다운로드" value="다운로드" class="btn_download" id="downBtn" onclick="fileDown();"/>
				</div>
			
			
			<div id="downloadDiv">
				<form id="download" name="download" action="/download" method="post">
					<input type="hidden" name="down_recruit_name" placeholder="ex) lh" value="" />
				</form>

			</div>
			
			<div class="progress-wrap">
		    	<div class="progress" >
		    		<span class="countup"></span>
		    	</div>  
		    </div>
		    
		    <div class="list_box">
				<h2>리스트</h2>
				<textarea id="createListArea" class="createListArea" style="width:900px; height:300px;display:none;" readonly></textarea>
				<!--<textarea id="resultArea" class="resultArea" readonly></textarea>-->
				<div>
					<ul id="resultArea">
					</ul>
				</div>
				
			</div>
		    
		</div>
	</body>
</html>
